.form-sign {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-sign .icon {
    width: 60px;
}

.form-sign h1 span {
    font-family: "Courgette", cursive;
}

.form-sign .form-floating:focus-within {
    z-index: 2;
}

.form-sign input {
    margin-bottom: -1px;
}

.form-sign input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign input[type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-sign .password {
    border-radius: 0;
}