html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-sign {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

.form-sign .icon {
    width: 60px;
}

.form-sign h1 span {
    font-family: "Courgette", cursive;
}

.form-sign .form-floating:focus-within {
    z-index: 1;
}

.form-sign input {
    margin-bottom: -1px;
}