body {
    font-family: "Quicksand", sans-serif;
}

.navbar-brand {
    font-family: "Courgette", cursive;
}

.navbar-brand img {
    width: 35px;
}

.btn-warning {
    font-weight: 500;
}

.not-found {
    min-height: 390px;
}

.bi-search {
    font-size: 80px;
}

.full-height {
    min-height: 406px;
}

@media screen and (max-width: 576px) {
    .not-found {
        min-height: 450px;
    }
}